fastapi
uvicorn[standard]
SQLAlchemy
asyncpg
greenlet
pydantic[email]
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
httpx
python-dotenv
jinja2
gunicorn