fastapi
uvicorn[standard]
gunicorn
SQLAlchemy
asyncpg
greenlet
alembic
pydantic[email]
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
httpx
python-dotenv
aiofiles
jinja2